<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatum modi adipisci ipsam nam cum nostrum culpa cumque velit, fugit, tenetur magni laborum quasi. Ipsam enim modi, voluptatem hic consequatur officiis!</p>
    </div>
</div>