<div class="h-100 p-5 bg-light border rounded-3">
    <h1 class="display-4">Notas App NodeJs y MongoDB</h1>
    <p class="lead">Lorem ipsum, dolor sit amet consectetur adipisicing </p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim harum quos vel sed eos pariatur provident illo aut culpa voluptatem tenetur inventore accusamus optio, eaque quasi! Ullam distinctio impedit molestiae.</p>
    <a href="https://google.cl" class="btn btn-primary btn-lg">google</a>
</div>